<%- include('../partials/head.ejs') %>
  <script defer src="/js/auth.js"></script>
  <script>window.addEventListener('load', () => auth().account())</script>
<%- include('../partials/header.ejs') %>

  <section>
    <div class="preview">
      <h1>Account info</h1>
      <div>
        <p>Username : <%- user.username %></p>
        <p>Email : <%- user.email %></p>
      </div>
      <a href="/auth/logout" class="btn">Log Out</a>
    </div>
    <div class="preview">
      <h3>Change password</h3>
      <form class="change">
        <input type="password" name="current" placeholder="Current Password">
        <div class="error current"></div>
        <input type="password" name="new" placeholder="New Password">
        <div class="error new"></div>
        <input type="submit" class="material-icons-outlined" value="edit">
      </form>
    </div>
    <div class="preview">
      <h3>Delete your account</h3>
      <p>Please avoid this section if you don't want to delete your account</p>
      <p>But if you really want, please enter your email and password in order to proceed</p>
      <form class="delete">
        <input type="text" name="email" placeholder="Email">
        <div class="error email"></div>
        <input type="password" name="password" placeholder="Password">
        <div class="error password"></div>
        <input type="submit" class="material-icons-outlined" value="delete">
      </form>
    </div>
  </section>

<%- include('../partials/footer.ejs') %>