<%- include('./partials/head.ejs') %>
  <script defer src="/js/home.js"></script>
<%- include('./partials/header.ejs') %>

  <section id="head"><% const lorem = 'Lorem chocolate ipsum chocolor sit amet chocolectetur adipisicing elit. Beatae commodi chocolatis nobis incidunt ducimus eum totam sunt hic facilis culpa chocolates labore dicta sequi nihil pariatur vitae, doloremque chocolate expedita, nisi quidem soluta consequuntur? Libero, chocolequatur deleniti. Alias incidunt assumenda chocolores soluta eum tenetur ducimus atque inventore, chocolatur obcaecati eveniet.'; %>
    <div class="main grid">
      <div>
        <h1 class="title">Choclacode</h1>
        <article>
          <p>Welcome to the official website of <span class="color">Choclacode.</span></p>
          <p class="desktop"><%- lorem %></p>
          <p class="desktop">Yes, Lorem ipsum, but in a chocolatey flavor.</p>
        </article>
      </div>
      <img src="/assets/img/logo/notitle.png" alt="logo">
    </div>
    <div class="quote"></div>
  </section>

  <section id="articles">
    <h1 class="title">Articles</h1>
    <%- include('./shared/articles.ejs', { articles }) %>
  </section>

  <section id="chocolate">
    <h1>Chocolate</h1>
    <div class="container">
      <%- include('./shared/chocolates.ejs', { chocs }) %>
    </div>
    <div class="link">
      <a href="/chocolate" class="btn">View All</a>
    </div>
  </section>

  <section id="themes">
    <div class="preview">
      <h1>Choose your theme</h1>
      <div class="theme-container">
        <div class="code">
          <pre>Default</pre>
          <a style="margin-left: 20px;" data-theme="default">
            <i class="material-icons-outlined btn">done</i>
          </a>
        </div>
        <div class="code">
          <pre>Chocolatey</pre>
          <a style="margin-left: 20px;" data-theme="chocolatey">
            <i class="material-icons-outlined btn">disabled_by_default</i>
          </a>
        </div>
      </div>
    </div>
  </section>

<%- include('./partials/footer.ejs') %>