extends ../layout.pug

block title
  | Edit Article &laquo; #{article.title}

block content
  section
    h1 Edit Article
    p
      | Edit your article: #{''}
      span.title= article.title
    form.article
      input(type="text", name="title", placeholder="Title e.g. The Hereafter", value=article.title)
      p.title-err.error
      textarea(name="body", cols="30", rows="10", placeholder="Body")= article.raw
      p.body-err.error
      input.material-icons-outlined(type="submit", value="edit")
    .preview.article
      h1.title= article.title
      article !{article.body}
