extends ../layout.pug

block title
  | #{info.eng} &laquo; #{info.ara}

block content
  section.surah
    h1.title
      | #{ info.eng }
      br
      | #{ info.ara }
    ul
      if info.bismillah
        li#bismillah
          span.ara بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ
      for a in surah
        li(id=a.num)
          .num= `${info.num} : ${a.num}`
          if show.ara
            .ara= a.ara
          for l in ['eng', 'ban']
            if show[l]
              .num= info.translations[l]
              div(class=l)= a[l]
      hr
