<%- include('../partials/head.ejs') %><% if (user && user.id == article.author.id) { %>
  <script defer src="/js/articles.js"></script>
  <script>window.addEventListener('load', () => articles()._delete())</script><% } %>
<%- include('../partials/header.ejs') %>

  <section class="article details">
    <h1 class="title"><%- article.title %></h1>
    <article><%- article.body %></article>
    <p>Author: <span class="author title">@<%- article.author.name %></span></p>
    <p>Created on: <%- article.createdAt %></p> <br/><br/><br/><% if (user && user.id == article.author.id) { %>
    <ul class="actions">
      <li><a href="/articles/<%- article.slug %>/edit" class="material-icons-outlined btn">edit</a></li>
      <li><a class="material-icons-outlined btn delete" data-doc="<%= article.slug %>">delete_outline</a></li>
    </ul><% } %>
    <p><a href="/articles" class="btn">Back</a></p>
  </section>

<%- include('../partials/footer.ejs') %>