<%- include('../partials/head.ejs') %>
  <script defer src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script defer src="/js/articles.js"></script>
  <script>window.addEventListener('load', () => articles().edit())</script>
<%- include('../partials/header.ejs') %>

  <section><% const bodyplaceholder = `<p>The hereafter, the ever eternal place of living after death.</p><p>Every person has to suffer death, and after death, they will enter the hereafter. ...</p>`; %>
    <h1>Edit Article</h1>
    <p>Edit your article</p>
    <form class="article">
      <input type="text" name="title" placeholder="Title" value="<%- article.title %>">
      <p class="title-err error"></p>
      <textarea name="body" cols="30" rows="10" placeholder="Body"><%- article.raw %></textarea>
      <p class="body-err error"></p>
      <input type="submit" class="material-icons-outlined" value="edit">
    </form>
    <div class="preview article">
      <h1 class="title"><%- article.title %></h1>
      <article><%- article.body %></article>
    </div>
  </section>

<%- include('../partials/footer.ejs') %>