<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

  <section>
    <h1 class="title">API</h1>
    <p>APIs to use in different applications</p>
    <p>Requesting you to not to click any of the following links if you are not a developer; because they may look scary to you</p>

    <ul class="flex"><%
      const apis = [
        { l: 'quran', n: 'Quran' },
        { l: 'chocolate', n: 'Chocolate' },
        { l: 'quotes', n: 'Quotes' },
      ];
      apis.forEach(({ l, n }) => { %>
      <li><a href="/api/<%- l %>?raw=false"><%- n %></a></li><% }) %>
    </ul>
  </section>

<%- include('../partials/footer.ejs') %>