-
  const links = [
    ['https://github.com/chocosinensis', 'github'],
    ['https://twitter.com/ChocoSinensis', 'twitter'],
    ['https://youtube.com/channel/UCuxNNDSPkN4MTbyubs9OQfQ', 'youtube'],
    ['https://instagram.com/chocosinensis', 'instagram'],
    ['https://facebook.com/chocosinensis', 'facebook'],
  ]

footer
  .about.grid
    .logo
      img(src="/public/assets/img/logo/logo.png", alt="logo")
    .content.desktop
      h4
        | Who is #{''}
        a.color(href="/") Choclacode
        | ?
      .about-text
        a.color(href="/") Choclacode
        | #{''} is a developer, who likes programming. His main goal is to be successful and be among the tranquil, calm souls.
    .social
      for l in links
        div
          a(href=`${l[0]}`, target="_blank")
            i.fab(class=`fa-${l[1]}`)
  .copyright
    span
      | Copyright &copy; #{''}
      a.color(href="/") Choclacode
      | #{''} 2021
