extends ../layout.pug

block title
  | @#{username}

block content
  section
    .preview
      h1 User Info
      img.avatar(src=profileImg, alt="Img")
      div
        p
          | Username : #{''}
          span.title @#{ username }
        if email
          p Email : #{ email }
      div
        if email
          a(href=`mailto:${email}`, target="_blank")
            i.material-icons.btn mail
        a(href="/discuss")
          i.material-icons.btn chat
