<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/others/quran.css">
<%- include('../partials/header.ejs') %>

  <section class="quran">
    <h1 class="title">The Noble Quran <br/> <span class="ara">القرآن الكريم</span></h1>
    <h4>Surahs (Chapters)</h4>
    <div class="row"><% surahs.forEach((list) => { %>
      <ul><% list.forEach(({ num, eng, ara, mng }) => { %>
        <li>
        <a href="/quran/<%- num %>">
          <span class="num"><%- num %></span>
          <span class="eng"><%- eng %></span>
          <span class="ara"><%- ara %></span>
          <div class="mng"><%- mng %></div>
        </a>
        </li><% }) %>
      </ul><% }) %>
    </div>
  </section>

<%- include('../partials/footer.ejs') %>