<%- include('../partials/head.ejs') %>
  <script defer src="/js/quran.js"></script>
<%- include('../partials/header.ejs') %>

  <section class="surah">
    <h1 class="title"><%- info.eng %> <br/> <span class="ara"><%- info.ara %></span></h1>
    <ul><% if (!(info.num == 1 || info.num == 9)) { %>
      <li id="bismillah">
        <span class="ara">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</span>
      </li><% } %><% surah.forEach(({ num, ara, eng, ban }) => { %>
      <li id="<%- num %>">
        <div class="num"><%- `${info.num} : ${num}` %></div>
        <div class="ara"><%- ara %></div>
        <div class="num">English - Saheeh International</div>
        <div class="eng"><%- eng %></div>
        <div class="num">Bengali - Mohiuddin Khan</div>
        <div class="ban"><%- ban %></div>
      </li><% }) %>
    </ul>
  </section>

<%- include('../partials/footer.ejs') %>