<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

  <section>
    <div class="preview">
      <h1>User Info</h1>
      <div>
        <p>Username : <span class="title">@<%- username %></span></p>
        <p>Email : <%= email %></p>
      </div>
      <div>
        <a href="mailto:<%= email %>" target="_blank">
          <i class="material-icons btn">mail</i>
        </a>
        <a href="/discuss">
          <i class="material-icons btn">chat</i>
        </a>
      </div>
    </div>
  </section>

<%- include('../partials/footer.ejs') %>