extends ../layout.pug

block title
  | #{choc.title} &laquo; Chocolate

block content
  section.chocolates
    .choc-details
      h1.title= choc.title
      .choc-content
        article
          - const lorem = 'Lorem chocolate ipsum chocolor sit amet chocolectetur adipisicing elit. Beatae commodi chocolatis nobis incidunt ducimus eum totam sunt hic facilis culpa chocolates labore dicta sequi nihil pariatur vitae, doloremque chocolate expedita, nisi quidem soluta consequuntur? Libero, chocolequatur deleniti. Alias incidunt assumenda chocolores soluta eum tenetur ducimus atque inventore, chocolatur obcaecati eveniet.'
          p= choc.content
          p= lorem
          p= lorem
          p= lorem
        img.choc-img(src=`/public/assets/img/chocolate/${choc.src}`, alt="Loading Image...")
      a.btn(href="/chocolate") Back
