<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/others/error.css">
<%- include('../partials/header.ejs') %>

  <section class="errorsect">
    <span class="status"><%= status %></span>
    <span class="detail"><%= detail %></span>
  </section>

<%- include('../partials/footer.ejs') %>